<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title>MessageSecure</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="ui small inverted menu">
      <div class="container">
        <%= render template: "layouts/menu" %>
      </div>
    </div>
    <div class="ui container">
      <%= render 'layouts/message'%>
      <%= yield %>
    </div>
  </body>
</html>
